
#today {
    border: black 3px solid;
}

.card {
    margin: 0 auto; 
    background-color: darkblue;
    color: white;
}

/* Forecast heading  */
.lead {
    padding-top: 20px;
    font-size: 2em;
}

.futureDate {
    padding-top: 10px;
}

.search-input {
    padding: 5px;
}

.btn {
    margin-top: 10px;
}

#history-title {
    margin-top: 30px;
}

#forecast-title {
    margin-top: 30px;
}