
#search-form {
    border: #154c79 3px solid;
}

#today {
    border: black 3px solid;
}

#forecast {
    /* border: #e28743 3px solid; */
}

.card {
    margin: 0 auto; 
    background-color: darkblue;
    color: white;
}

/* Forecast heading  */
.lead {
    padding-top: 20px;
    font-size: 2em;
}

.forecast {
    flex-wrap: wrap;
}

.futureDate {
    padding-top: 10px;
}